<section id="about" class="w-full max-w-[72rem] mx-auto flex justify-center gap-8 items-center px-8 flex-col-reverse lg:flex-row mb-16 pt-16">
    <picture>
        <img src="/coffe-pc-2.png" alt="Image" class="object-cover rounded-lg animated-element">
    </picture>
    <div class="px-2 lg:max-w-[50%] lg:px-0 flex flex-col items-center">
        <h2 class="font-black text-[2.125rem] lg:text-[3.125rem] text-center mb-6">
            Hello I'am  <br><span class="bg-clip-text text-transparent bg-gradient-to-r from-orange-500 from-10% via-purple-700 via-70% to-purple-800 to-100%">Nelson Eljadue</span>
        </h2>
        <p class="text-[1.25rem] max-w-[34rem]">
            Semi-Senior Front-End Developer with a deep understanding and practical experience in developing robust, scalable, and customized web applications that meet specific requirements.
        </p>
    </div>
</section>
