<div>
    <canvas id="canvas3d" class="rounded-xl"></canvas>
</div>

<script>
    import { Application } from '@splinetool/runtime';
    const canvas = document.getElementById('canvas3d');

    if (canvas instanceof HTMLCanvasElement) {
        const app = new Application(canvas);
        app.load('https://prod.spline.design/RaPOvC903nCbaPJ3/scene.splinecode');
    } else {
        console.error('Canvas element not found');
    }
</script>